# Reverse proxy with automatic HTTPS. Replace the domain, then: caddy run --config Caddyfile
concord.badmavasan.tech {
    reverse_proxy localhost:4700
    request_body {
        max_size 120MB
    }
}
